:root {
  --font-family-sans-serif: "Fira Sans", sans-serif;
}

html {
  font-size: 14px;
}

body {
  background-color: #f8f8f8;
  color: #212121;
  font-family: "Fira Sans", sans-serif;
}

btn {
  padding-top: 0.9em;
}

p {
  margin-bottom: 0.5em;
}

a.nocolorstyle {
  color: inherit;
}

a.noanchorstyle {
  color: inherit;
  text-decoration: none;
}

a.noanchorstyle:hover {
  color: inherit;
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../imgs/select.png) right / 20px no-repeat #fff !important;
  background-image: url(../../imgs/select.png) right / 20px no-repeat #fff !important;
  padding-right: 20px;
}

#header-icon {
  margin-top: -10px;
  height: 30px;
  width: 30px;
  fill: white;
}

#sub-header {
  background-color: white;
  box-shadow: inset 0 10px 10px -10px rgba(6, 6, 6, 0.3);
  border-bottom: 1px solid #ccc;
}

.badge-small {
  font-size: 0.7em;
  font-weight: 400;
  padding-top: 0.3em;
}

.invalid-feedback {
  display: block;
  font-size: 100%;
}

.card {
  transition: box-shadow ease-in-out 0.1s;
}

.hovershadow:hover > .card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.section-anchor-link {
  display: none;
}

.section-title:hover .section-anchor-link {
  display: inline;
  font-size: 12pt;
}

.heavy-line {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.status-pill {
  height: 20px;
  border-radius: 10px;
  padding: 0px 10px;
}

.status-color-Draft {
  color: white;
  background-color: #8000d7;
}

.status-color-Review {
  color: white;
  background-color: #ff9400;
}

.status-color-Ship {
  color: white;
  background-color: #1cb7d8;
}

.status-color-Accepted {
  color: white;
  background-color: #b5007f;
}

.status-color-Live {
  color: white;
  background-color: #34c834;
}

.status-color-Complete {
  color: white;
  background-color: #0a84ff;
}

.status-color-Rejected {
  color: white;
  background-color: #e9433e;
}

.enrollment-complete-color {
  color: white;
  background-color: #457b27;
}

.proceed-status-color {
  color: white;
  background-color: #00cc00;
}

.back-status-color {
  color: white;
  background-color: #ee9a49;
}
.subscribe-bell {
  color: #e432af;
}

.header-link {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.link-icon {
  height: 15px;
  margin-top: -3px;
}

.border-left-grey {
  border-left: 3px solid #ccc;
}

.border-bottom-grey {
  border-bottom: 3px solid #ccc;
}

.border-bottom-blue {
  border-bottom: 3px solid #45a1ff;
}

.border-bottom-green {
  border-bottom: 3px solid #30e60b;
}

.border-bottom-teal {
  border-bottom: 3px solid #00c8d7;
}

.bubble {
  border-radius: 4px;
  background-color: #f3f3f3;
}

.pref-table {
  width: 100%;
  table-layout: fixed;
}

.pref-value-cell {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre.json {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  line-height: 2em;
  border: none !important;
}

.list-summary:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 12em, white);
}

.list-summary {
  overflow: hidden;
  max-height: 15em;
}

.bootstrap-select .btn-light {
  background-color: white;
  border-color: #ced4da;
}

.required-label.required .text-muted {
  display: none;
}

.required-label.optional .text-danger {
  display: none;
}
