<div x-show="open" class="flex  flex-col w-fit md:w-full md:bg-transparent bg-white z-20  h-96 md:h-full  md:border-0  md:border-r fixed  top-20 right-4  md:static">
    <div class="overflow-y-auto overflow-x-hidden flex-grow">
        <div class="space-y-3 px-4 pt-6">
            <a class="flex justify-start space-x-2 items-center text-gray-500" href="{% url 'nimbus-detail' experiment.slug %}">
              <i class="fa-solid fa-chevron-left h-3"></i>
              <p class="text-sm">Back to Summary</p>
            </a>
        </div>
      <ul class="flex flex-col py-4 space-y-1">
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm w-full  flex flex-row items-center justify-between font-light tracking-wide text-gray-500">
                Edit
                <hr class="border-t ml-2 w-full border-gray-200"/>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-gear"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Overview</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-layer-group"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Branches</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-arrow-trend-up"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Metrics</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-user-group"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Audience</span>
            <span class="px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">1.2k</span>
          </a>
        </li>
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm w-full  flex flex-row items-center justify-between font-light tracking-wide text-gray-500">
                Actions
                <hr class="border-t ml-2 w-full border-gray-200"/>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-box-archive"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Archive</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-clone"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Clone</span>
          </a>
        </li>
        <li class="px-5">
          <div class="flex flex-row items-center h-8">
            <div class="text-sm w-full flex flex-row items-center justify-between font-light tracking-wide text-gray-500">
                Help
                <hr class="border-t ml-2 w-full border-gray-200"/>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-book"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Experimenter Documentation</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-brands fa-slack"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">#ask-experimenter</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
            <span class="inline-flex justify-center items-center ml-4">
                <i class="fa-solid fa-message"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Feedback</span>
          </a>
        </li>
        <li>
            <a href="#" class="flex flex-row items-center h-11 focus:outline-none hover:bg-gray-50 text-gray-600 hover:text-gray-800 border-l-4 border-transparent hover:border-[#b590d4] pr-6">
                <span class="inline-flex justify-center items-center ml-4">
                    <i class="fa-brands fa-github"></i>
                </span>            
                <span class="ml-2 text-sm tracking-wide truncate">File targeting criteria request</span>
            </a>
        </li>
      </ul>
    </div>
  </div>