BUGZILLA_API_KEY=
BUGZILLA_CC_LIST=
BUGZILLA_HOST=https://bugzilla.allizom.org/
CELERY_SCHEDULE_INTERVAL=300
DB_HOST=db
DB_NAME=postgres
DB_PASS=postgres
DB_USER=postgres
DEBUG=True
DELIVERY_CONSOLE_HOST=
DS_ISSUE_HOST=https://jira.example.com/browse/
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_RELEASE_DRIVERS=
EMAIL_REVIEW=
EMAIL_SENDER=
EMAIL_SHIP=
EXPERIMENTS_PAGINATE_BY=50
HOSTNAME=localhost
KINTO_BUCKET=main-workspace
KINTO_BUCKET_MAIN=main
KINTO_COLLECTION=messaging-experiments
KINTO_HOST=http://kinto:8888/v1
KINTO_PASS=experimenter
KINTO_USER=experimenter
LOGGING_CONSOLE_LEVEL=INFO
LOGGING_USE_JSON=False
NORMANDY_API_HOST=
OPENIDC_CLIENT_ID=
OPENIDC_CLIENT_SECRET=
OPENIDC_HEADER=HTTP_X_FORWARDED_USER
REDIS_DB=0
REDIS_HOST=redis
REDIS_PORT=6379
SECRET_KEY=SOMETHINGSECURE
SENTRY_DSN=
STATSD_BACKEND=markus.backends.logging.LoggingMetrics
STATSD_HOST=
STATSD_PORT=
STATSD_PREFIX=experimenter
USE_GOOGLE_ANALYTICS=false
GOOGLE_APPLICATION_CREDENTIALS=
