.bash_history
.DS_store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
storybook-static/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
coverage/
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Logging
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
.ipython

# Environment file
.env
.envrc

.vscode/
.psql_history

# Hosted assets
app/experimenter/media/
app/experimenter/served/
app/experimenter/legacy-ui/assets/

# Key files
*.pem

# test files
.pytest_cache
.testmondata
.tmontmp
app/coverage_html_report/

# Dependencies
node_modules

