version: "3"

services:
  firefox:
    image: mozilla/experimenter:${FIREFOX_VERSION}
    env_file: .env
    environment:
      - MOZ_HEADLESS
      - FIREFOX_VERSION
    volumes:
      - .:/code
      - /code/app/tests/integration/.tox
    links:
      - nginx
      - kinto
      - ping-server
    expose:
      - "4444"
    ports:
      - "5900:5900"
      - "7902:7900"
    shm_size: 2g
    working_dir: /code
  rust-sdk:
    image: b4handjr/nimbus-rust-image:latest
    env_file: .env
    environment:
      - PYTHONPATH
    volumes:
      - .:/code
      - /code/app/tests/integration/.tox
    working_dir: /code
    links:
      - nginx
      - kinto
  ping-server:
    build: app/tests/integration/nimbus/utils/ping_server
    ports:
      - "5000:5000"

