version: "3"

services:
  firefox:
    image: mozilla/experimenter:${FIREFOX_VERSION}
    env_file: .env
    environment:
      - MOZ_HEADLESS
      - FIREFOX_VERSION
      - PYTEST_ARGS
    volumes:
      - .:/code
      - /code/experimenter/tests/integration/.tox
    links:
      - nginx
      - kinto
      - ping-server
    expose:
      - "4444"
    ports:
      - "5900:5900"
      - "7902:7900"
    shm_size: 2g
    working_dir: /code
  rust-sdk:
    image: mozilla/experimenter:nimbus-rust-image
    env_file: .env
    environment:
      - PYTHONPATH
    volumes:
      - .:/code
      - /code/experimenter/tests/integration/.tox
    working_dir: /code
    links:
      - nginx
      - kinto
  ping-server:
    build: experimenter/tests/integration/nimbus/utils/ping_server
    ports:
      - "5050:5050"

  cirrus:
    build:
      context: cirrus/server/
      dockerfile: Dockerfile
    env_file: .env.integration-tests
    links:
      - kinto
    volumes:
      - ./cirrus/server/:/cirrus
    working_dir: /cirrus
    ports:
      - "8001:8001"
  demo-app-server:
    build:
      context: ./demo-app/server
      dockerfile: Dockerfile
    ports:
      - '3002:3002'
    restart: always
    links:
      - cirrus
    environment:
      - CIRRUS=http://cirrus:8001


  demo-app-frontend:
    build:
      context: ./demo-app/frontend
      dockerfile: Dockerfile
    ports:
      - '8080:3000'
    restart: always
    links:
      - demo-app-server
    environment:
      - DEMO_APP_SERVER=http://demo-app-server:3002
