version: "3"

services:
  app:
    image: app:deploy
    env_file: .env
    environment:
      - DEBUG=True
      - USE_YARN_DEV=False
    stdin_open: true
    tty: true
    links:
      - db
      - redis
      - kinto
    ports:
      - "7001:7001"
    volumes:
      - media_volume:/app/experimenter/media
    command: bash -c "/app/bin/wait-for-it.sh kinto:8888 -- python bin/setup_kinto.py;/app/bin/wait-for-it.sh db:5432 -- python manage.py collectstatic --noinput&&gunicorn -w 4 -b 0.0.0.0:7001 experimenter.wsgi"

  worker:
    image: app:deploy
    env_file: .env
    links:
      - db
      - redis
    command: bash -c "/app/bin/wait-for-it.sh db:5432 -- celery -A experimenter worker -l DEBUG"

  beat:
    image: app:deploy
    env_file: .env
    links:
      - db
      - redis
    command: bash -c "/app/bin/wait-for-it.sh db:5432 -- celery -A experimenter beat --pidfile /celerybeat.pid -s /celerybeat-schedule -l DEBUG"

  nginx:
    build: ./nginx
    env_file: .env
    links:
      - app
    ports:
      - "443:443"

  db:
    restart: always
    image: postgres:9.6.17
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_volume:/var/lib/postgresql

  redis:
    image: redis:6.2.6
    ports:
      - "6379:6379"

  kinto:
    image: mozilla/kinto-dist:23.3.1
    environment:
      KINTO_INI: /etc/kinto.ini
    ports:
      - "8888:8888"
    links:
      - autograph
    volumes:
      - ./kinto/server.ini:/etc/kinto.ini

  autograph:
    image: mozilla/autograph:4.1.1
    ports:
      - "8000:8000"

volumes:
  db_volume:
  media_volume:
