version: "3"

services:
  experimenter:
    image: experimenter:test
    env_file: .env.sample
    environment:
      - DEBUG=False
      - CIRCLE_PULL_REQUEST
      - CIRCLE_BRANCH
    volumes:
      - ./docs/experimenter:/experimenter/experimenter/docs
    links:
      - db

  db:
    restart: always
    image: postgres:9.6.17
    environment:
      POSTGRES_PASSWORD: postgres


  cirrus_test:
    build:
      context: .
      dockerfile: cirrus/server/Dockerfile
    command: pytest cirrus/server --cov=cirrus
    volumes:
      - .:/usr/src/cirrus


