version: "3"

services:
  firefox:
    image: mozilla/experimenter:${FIREFOX_VERSION:-nimbus-firefox-release}
    env_file: .env
    environment:
      - MOZ_HEADLESS
      - FIREFOX_VERSION
      - PYTEST_ARGS
      - INTEGRATION_TEST_KINTO_URL
      - INTEGRATION_TEST_NGINX_URL
    volumes:
      - .:/code
      - /code/experimenter/tests/integration/.tox
    depends_on:
      - nginx
      - kinto
      - demo-app-frontend
    expose:
      - "4444"
    ports:
      - "5900:5900"
      - "7902:7900"
    shm_size: 2g
    working_dir: /code
  rust-sdk:
    image: experimenter:integration-tests
    env_file: .env
    volumes:
      - .:/code
      - /code/experimenter/tests/integration/.tox
    working_dir: /code
    depends_on:
      - nginx
      - kinto
  demo-app-frontend:
    build:
      context: ./demo-app/frontend
      dockerfile: Dockerfile
    command: /bin/true
