version: "3"

services:
  experimenter:
    image: experimenter:dev
    env_file: .env
    stdin_open: true
    tty: true
    links:
      - db
      - redis
      - kinto
    ports:
      - "7001:7001"
    volumes:
      - ./experimenter:/experimenter
      - ./docs/experimenter:/experimenter/experimenter/docs
      - media_volume:/experimenter/experimenter/media
      - /experimenter/experimenter/legacy/legacy-ui/core/.cache/
      - /experimenter/experimenter/legacy/legacy-ui/core/node_modules/
      - /experimenter/experimenter/theme/static_src/node_modules/
      - /experimenter/experimenter/nimbus-ui/node_modules/
      - /experimenter/experimenter/served/
      - /experimenter/node_modules/
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "python bin/setup_kinto.py;/experimenter/bin/wait-for-it.sh db:5432 -- python /experimenter/manage.py runserver 0:7001"

  tailwind:
    image: experimenter:dev
    env_file: .env
    tty: true
    volumes:
      - ./experimenter:/experimenter
      - /experimenter/experimenter/theme/static_src/node_modules/
    command: "yarn --cwd /experimenter/experimenter/theme/static_src run dev"

  yarn-nimbus-ui:
    image: experimenter:dev
    env_file: .env
    tty: true
    ports:
      - "3000:3000"
    volumes:
      - ./experimenter:/experimenter
      - media_volume:/experimenter/experimenter/media
      - /experimenter/experimenter/legacy/legacy-ui/core/.cache/
      - /experimenter/experimenter/legacy/legacy-ui/core/node_modules/
      - /experimenter/experimenter/nimbus-ui/node_modules/
      - /experimenter/experimenter/served/
      - /experimenter/node_modules/
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "FORCE_COLOR=true yarn workspace @experimenter/nimbus-ui start | cat"

  worker:
    image: experimenter:dev
    env_file: .env
    links:
      - db
      - redis
    volumes:
      - ./experimenter:/experimenter
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "/experimenter/bin/wait-for-it.sh db:5432 -- celery -A experimenter worker -l DEBUG"

  beat:
    image: experimenter:dev
    env_file: .env
    links:
      - db
      - redis
    volumes:
      - ./experimenter:/experimenter
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "/experimenter/bin/wait-for-it.sh db:5432 -- celery -A experimenter beat --pidfile /celerybeat.pid -s /celerybeat-schedule -l DEBUG"

  nginx:
    build: ./nginx
    env_file: .env
    links:
      - experimenter
    ports:
      - "443:443"

  db:
    restart: always
    image: postgres:14.8
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_volume:/var/lib/postgresql

  redis:
    image: redis:6.2.6
    ports:
      - "6379:6379"

  kinto:
    image: mozilla/remote-settings:30.1.1
    environment:
      KINTO_INI: /etc/kinto.ini
    ports:
      - "8888:8888"
    links:
      - autograph
    volumes:
      - ./kinto/server.ini:/etc/kinto.ini

  autograph:
    image: mozilla/autograph:4.1.1
    ports:
      - "8000:8000"

volumes:
  db_volume:
  media_volume:
