version: "3"

services:
  experimenter:
    image: experimenter:test
    env_file: .env.sample
    environment:
      - DEBUG=False
      - CIRCLE_PULL_REQUEST
      - CIRCLE_BRANCH
    volumes:
      - ./docs/experimenter:/experimenter/experimenter/docs
    links:
      - db

  db:
    restart: always
    image: postgres:9.6.17
    environment:
      POSTGRES_PASSWORD: postgres

  cirrus:
    env_file: .env
    build:
      context: cirrus/server/
      dockerfile: Dockerfile
    working_dir: /cirrus
