version: "3"

services:
  yarn-legacy:
    image: app:dev
    env_file: .env
    tty: true
    volumes:
      - ./experimenter:/experimenter
      - media_volume:/experimenter/experimenter/media
      - /experimenter/experimenter/legacy/legacy-ui/core/.cache/
      - /experimenter/experimenter/legacy/legacy-ui/core/node_modules/
      - /experimenter/experimenter/nimbus-ui/node_modules/
      - /experimenter/experimenter/served/
      - /experimenter/node_modules/
    command: bash -c "yarn workspace @experimenter/core watch"

volumes:
  media_volume:
