version: "3"

services:
  experimenter:
    image: experimenter:dev
    env_file: .env
    stdin_open: true
    tty: true
    depends_on:
      - db
      - redis
      - kinto
      - cirrus-experimenter
    ports:
      - "7001:7001"
    volumes:
      - ./experimenter:/experimenter
      - ./docs/experimenter:/experimenter/experimenter/docs
      - media_volume:/experimenter/experimenter/media
      - nimbus_ui_volume:/experimenter/experimenter/nimbus_ui/static/dist/
      - /experimenter/experimenter/glean/generated/
      - /experimenter/experimenter/legacy/legacy-ui/core/.cache/
      - /experimenter/experimenter/legacy/legacy-ui/core/node_modules/
      - /experimenter/experimenter/nimbus_ui/static/node_modules/
      - /experimenter/experimenter/served/
      - /experimenter/node_modules/
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "python bin/setup_kinto.py;/experimenter/bin/wait-for-it.sh db:5432 -- python /experimenter/manage.py runserver 0:7001"

  yarn-nimbus_ui:
    image: experimenter:dev
    env_file: .env
    stdin_open: true
    tty: true
    volumes:
      - ./experimenter:/experimenter
      - ./docs/experimenter:/experimenter/experimenter/docs
      - media_volume:/experimenter/experimenter/media
      - nimbus_ui_volume:/experimenter/experimenter/nimbus_ui/static/dist/
      - /experimenter/experimenter/glean/generated/
      - /experimenter/experimenter/legacy/legacy-ui/core/.cache/
      - /experimenter/experimenter/legacy/legacy-ui/core/node_modules/
      - /experimenter/experimenter/nimbus_ui/static/node_modules/
      - /experimenter/experimenter/served/
      - /experimenter/node_modules/
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "FORCE_COLOR=true yarn workspace @experimenter/nimbus_ui watch | cat"

  yarn-results:
    image: experimenter:dev
    env_file: .env
    tty: true
    ports:
      - "3001:3000"
    volumes:
      - ./experimenter:/experimenter
      - media_volume:/experimenter/experimenter/media
      - /experimenter/experimenter/glean/generated/
      - /experimenter/experimenter/legacy/legacy-ui/core/.cache/
      - /experimenter/experimenter/legacy/legacy-ui/core/node_modules/
      - /experimenter/experimenter/results/node_modules/
      - /experimenter/experimenter/nimbus_ui/static/node_modules/
      - /experimenter/experimenter/served/
      - /experimenter/node_modules/
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "FORCE_COLOR=true yarn workspace @experimenter/results start | cat"

  worker:
    image: experimenter:dev
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - ./experimenter:/experimenter
      - /experimenter/experimenter/glean/generated/
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "/experimenter/bin/wait-for-it.sh db:5432 -- celery -A experimenter worker -l DEBUG"

  beat:
    image: experimenter:dev
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - ./experimenter:/experimenter
      - /experimenter/experimenter/glean/generated/
      - ${GOOGLE_ADC_FILE}:${GOOGLE_APPLICATION_CREDENTIALS}:ro
    command: bash -c "/experimenter/bin/wait-for-it.sh db:5432 -- celery -A experimenter beat -s /tmp/celerybeat-schedule -l DEBUG"

  nginx:
    build: ./nginx
    env_file: .env
    depends_on:
      - experimenter
    ports:
      - "443:443"

  db:
    restart: always
    image: postgres:14.8
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - db_volume:/var/lib/postgresql

  redis:
    image: redis:6.2.6
    ports:
      - "6379:6379"

  kinto:
    image: mozilla/remote-settings:30.1.1
    environment:
      KINTO_INI: /etc/kinto.ini
    ports:
      - "8888:8888"
    depends_on:
      - autograph
    volumes:
      - ./kinto/server.ini:/etc/kinto.ini

  autograph:
    image: mozilla/autograph:4.1.1
    ports:
      - "8000:8000"

  cirrus-experimenter:
    image: cirrus:deploy
    env_file: .env
    environment:
      CIRRUS_APP_ID: experimenter.cirrus
      CIRRUS_APP_NAME: experimenter
      CIRRUS_CHANNEL: developer
      CIRRUS_FML_PATH: /fml/experimenter/developer.fml.yaml
    depends_on:
      - kinto
    volumes:
      - ./cirrus/server/:/cirrus
      - /cirrus/cirrus/glean/
    working_dir: /cirrus

  rust-sdk:
    image: experimenter:dev
    env_file: .env
    environment:
      - PYTEST_SPLIT_INDEX
      - PYTEST_SPLIT_TOTAL
      - INTEGRATION_TEST_NGINX_URL=https://nginx
      - INTEGRATION_TEST_KINTO_URL=http://kinto:8888/v1
    volumes:
      - .:/code
      - /code/experimenter/tests/integration/.tox
    working_dir: /code
    depends_on:
      - nginx
      - kinto

volumes:
  db_volume:
  media_volume:
  nimbus_ui_volume:
