version: "3"

services:
  experimenter:
    image: experimenter:test
    env_file: .env.sample
    environment:
      - DEBUG=False
      - CIRCLE_PULL_REQUEST
      - CIRCLE_BRANCH
    volumes:
      - ./docs/experimenter:/experimenter/experimenter/docs
    depends_on:
      - db

  db:
    restart: always
    image: postgres:14.8
    environment:
      POSTGRES_PASSWORD: postgres

  cirrus:
    image: cirrus:deploy
    env_file: .env.test
    working_dir: /cirrus
