version: "3"

services:
  cirrus:
    build:
      context: cirrus/server/
      dockerfile: Dockerfile
    env_file: .env
    links:
      - kinto
    volumes:
      - ./cirrus/server/:/cirrus
    working_dir: /cirrus
    ports:
      - "8001:8001"

  demo-app-server:
    build:
      context: ./demo-app/server
      dockerfile: Dockerfile
    ports:
      - '3002:3002'
    restart: always
    links:
      - cirrus
    environment:
      - CIRRUS=http://cirrus:8001

  demo-app-frontend:
    build:
      context: ./demo-app/frontend
      dockerfile: Dockerfile
    ports:
      - '8080:3000'
    restart: always
    links:
      - demo-app-server
    environment:
      - DEMO_APP_SERVER=http://demo-app-server:3002
    command: npm start
