version: "3"

services:
  firefox:
    image: selenium/standalone-firefox${FIREFOX_VERSION}
    env_file: .env
    environment:
      - MOZ_HEADLESS
    volumes:
      - .:/code
      - /code/app/tests/integration/.tox
    links:
      - nginx
      - kinto
    expose:
      - "4444"
    ports:
      - "5900:5900"
    shm_size: 2g
    working_dir: /code
  rust-sdk:
    image: b4handjr/nimbus-rust-image:latest
    env_file: .env
    volumes:
      - .:/code
      - /code/app/tests/integration/.tox
    working_dir: /code
    links:
      - nginx
      - kinto

