friendly_name = "Firefox Suggest"
description = "Usage & engagement metrics and revenue proxies for Firefox Suggest."

[metrics.urlbar_search_count]
select_expression = "SUM(CASE WHEN source LIKE 'urlbar%' THEN COALESCE(sap, 0) ELSE 0 END)"
data_source = "search_clients_engines_sources_daily"
description = "Number of searches performed in the urlbar, including search mode and handoff, from Legacy telemetry"
friendly_name = "Urlbar search count (Legacy)"
exposure_basis = ["exposures", "enrollments"]
statistics = { deciles = {}, bootstrap_mean = {} }

[metrics.ad_click_rate.statistics.population_ratio]
numerator = "ad_clicks"
denominator = "search_count"

[metrics.urlbar_clicks]
select_expression = "SUM(urlbar_clicks)"
data_source = "urlbar_events_daily_engagement_by_product_result_type_v1"
description = "Count of clicks on any result shown in the urlbar dropdown menu"
friendly_name = "Urlbar engagements"
exposure_basis = ["exposures", "enrollments"]
statistics = { deciles = {}, bootstrap_mean = {} }

[metrics.urlbar_impressions_suggest]
select_expression = "SUM(urlbar_impressions)"
data_source = "urlbar_events_daily_engagement_by_product_result_type_v1"
description = "The number of times a user exits the urlbar dropdown menu, either by abandoning the urlbar, engaging with a urlbar result, or selecting an annoyance signal that closes the urlbar dropdown menu"
friendly_name = "Urlbar search sessions"
exposure_basis = ["exposures", "enrollments"]
statistics = { deciles = {}, bootstrap_mean = {} }

[metrics.urlbar_ctr]
description = "Count of urlbar engagements divided by count of urlbar sessions. This is a `population-ratio` metric, not a client-level metric."
friendly_name = "Urlbar engagement rate"
depends_on = ["urlbar_clicks", "urlbar_impressions_suggest"]

[metrics.urlbar_ctr.statistics.population_ratio]
numerator = "urlbar_clicks"
denominator = "urlbar_impressions_suggest"

[metrics.urlbar_annoyances]
select_expression = "SUM(urlbar_annoyances)"
data_source = "urlbar_events_daily_engagement_by_product_result_type_v1"
description = "Count of clicks on annoyance signals across all results shown in the urlbar dropdown menu"
friendly_name = "Urlbar annoyances"
exposure_basis = ["exposures", "enrollments"]
statistics = { deciles = {}, bootstrap_mean = {} }
bigger_is_better = false

[metrics.urlbar_annoyances_rate]
select_expression = "COALESCE(SUM(urlbar_annoyances) > 0, FALSE)"
data_source = "urlbar_events_daily_engagement_by_product_result_type_v1"
description = "Percentage of clients that had a Urlbar annoyance"
friendly_name = "Urlbar annoyance clients"
exposure_basis = ["exposures", "enrollments"]
statistics = { binomial = {} }
bigger_is_better = false

[metrics.search_engine_clicks]
select_expression = """SUM(
  IF(
    product_result_type IN ('default_partner_search_suggestion', 'search_suggest', 'search_history', 'search_suggest_rich', 'search_engine', 'trending_suggestion', 'recent_search'), 
    urlbar_clicks, 0
  )
)"""
data_source = "urlbar_events_daily_engagement_by_product_result_type_v1"
description = "Count of clicks on a result shown in the urlbar dropdown menu leading to a SERP"
friendly_name = "Urlbar sessions ending on a SERP"
exposure_basis = ["exposures", "enrollments"]
statistics = { deciles = {}, bootstrap_mean = {} }

[metrics.search_engine_rate]
depends_on = ["search_engine_clicks", "urlbar_impressions_suggest"]
friendly_name = "SERP engagement rate"
description = "Proportion of urlbar sessions ending with an engagement leading to a SERP"

[metrics.search_engine_rate.statistics.population_ratio]
numerator = "search_engine_clicks"
denominator = "urlbar_impressions_suggest"
