.code-color {
  color: #00415e;
}

.__json-pretty__ {
  line-height: 1.3;
  color: #595959;
  overflow: auto;
  margin-bottom: 0;

  .__json-key__ {
    color: #00415e;
  }
  .__json-value__ {
    color: #bf5518;
  }
  .__json-string__ {
    color: #00a2b8;
  }
  .__json-boolean__ {
    color: #e83e8c;
  }
}
.__json-pretty-error__ {
  line-height: 1.3;
  background: #f8f8f2;
  color: #1e1e1e;
  overflow: auto;
}
