<div class="flex flex-col space-y-1 justify-center flex-wrap items-start md:flex-row md:items-center md:justify-between space-x-2 px-2 py-1 border border-dashed border-gray-500 rounded-md">
    <div class="flex flex-col flex-wrap space-y-1 md:space-y-0 items-start md:flex-row md:items-center space-x-1">
        <span class="px-2 flex items-center py-0.5 space-x-1 font-medium tracking-wide text-indigo-400 bg-indigo-50 rounded-full"> 
            <i class="fa-solid fa-pen-to-square text-rythm text-xs"></i>
            <span class="text-xs">Status</span>
        </span>
        <p class="text-neutral-600">
        {{ change.event_message }} 
        </p>
    </div>
    <span class="text-xs text-rythm flex-nowrap">{{change.timestamp}}</span>
  </div>
