# This is an example config file for a Firefox for iOS outcome.

friendly_name = 'Example config'
description = 'Example Firefox for iOS config used for testing'

[metrics.uri_count.statistics.bootstrap_mean]
[metrics.uri_count.statistics.deciles]
