{% with 'nimbus-ui-new-update-'|add:card_id as url_name %}
  {% if lock_edit %}
    <span class="d-inline-flex align-items-center"
          data-bs-toggle="tooltip"
          title="{{ lock_tooltip }}">
      <button class="btn p-0 border-0 text-secondary opacity-50"
              type="button"
              disabled
              aria-disabled="true"
              aria-label="Edit {{ card_id }}">
        <i class="fa-regular fa-pen-to-square"></i>
      </button>
    </span>
  {% else %}
    <button class="btn p-0 border-0 text-secondary"
            type="button"
            data-card-action="edit"
            aria-label="Edit {{ card_id }}"
            hx-get="{% url url_name experiment.slug %}"
            hx-target="#rollout-{{ card_id }}-body"
            hx-swap="outerHTML">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
  {% endif %}
{% endwith %}
{% include "new/common/card_cancel_button.html" with icon_only=True %}
