// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Looking to customize Bootstrap styles? Place SCSS variables
// modifications *above* the Bootstrap import below. Learn more:
// https://getbootstrap.com/docs/4.4/getting-started/theming/

@use "sass:map";

// @import "~bootstrap/scss/bootstrap";


.font-weight-semibold {
  font-weight: 600;
}

// the green provided by Bootstrap does not pass ADA AA
.text-success {
  color: #058a00 !important;
}

.positive-significance {
  color: #058a00 !important;
  font-weight: 700 !important;
}

.negative-significance {
  color: #dc3545 !important;
  font-weight: 700 !important;
}

.positive {
  background-color: #28a745 !important;
  color: #fff !important;
}

.negative {
  background-color: #dc3545 !important;
  color: #fff !important;
}

.neutral {
  background-color: #6c757d !important;
  color: #fff !important;
}

.table-visualization-center {
  width: 100%;
  text-align: center !important;
}

.border-3 {
  border-width: 3px !important;
}

.inherit-color {
  color: inherit;
}
