select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/static/imgs/select.png) right / 20px no-repeat #fff !important;
  background-image: url(/static/imgs/select.png) right / 20px no-repeat #fff !important;
  padding-right: 20px;
}

a.noanchorstyle {
  color: inherit;
  text-decoration: none;
}

a.noanchorstyle:hover {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #F8F8F8;
  color: #212121;
}

.heavy-line {
 	border: 0; 
	height: 1px; 
	background: #333; 
  background-image: linear-gradient(to right, #ccc, #333, #ccc); 
}

.icon-warning {
  color: #ffa200;
}

.spaced-text {
  letter-spacing: 0.8px;
}

.light-text {
  font-weight: lighter;
}

.section-anchor-link {
  display: none;
}

.section-title:hover .section-anchor-link {
  display: inline;
  font-size: 12pt;
}

#header {
  background: #2680da;
  color: #efefef;
  fill: #efefef;
  padding: 15px 0px;
}

#header-icon {
  height: 30px;
  width: 30px;
  margin-bottom: -2px;
  fill: white;
}

#header-user-info a {
  color: #efefef;
}

#site-logo {
  font-size: 26px;
  font-weight: lighter;
}

#sub-header {
  background-color: white;
  box-shadow: inset 0 10px 10px -10px rgba(6, 6, 6, 0.3);
  border-bottom: 1px solid #ccc;
}

#sub-header h3 {
  margin-top: 4px;
  margin-bottom: 0px;
}

.card {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: box-shadow ease-in-out .1s;
  padding-top: 10px;
  margin-bottom: 20px;
}

.clickhighlight:hover > .card {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background: #2680da;
}

.status-pill {
  height: 20px;
  border-radius: 10px;
  padding: 0px 10px;
}

.status-color-Draft {
  color: white;
  background-color: #6000ff;
}

.status-color-Review {
  color: white;
  background-color: #ffa21e;
}

.status-color-Ship {
  color: white;
  background-color: #ffa21e;
}

.status-color-Accepted {
  color: white;
  background-color: #ffa21e;
}

.status-color-Live {
  color: white;
  background-color: #34c834;
}

.status-color-Complete {
  color: white;
  background-color: #1cb7d8;
}

.status-color-Rejected {
  color: white;
  background-color: #e9433e;
}
