a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin: 0px;
}

body {
  background-color: #F8F8F8;
  color: #212121;
}

.spaced-text {
  letter-spacing: 0.8px;
}

.light-text {
  font-weight: lighter;
}

.low-opacity {
  opacity: 0.1;
}

#header {
  background: #002d5a;
  color: #dedede;
  fill: #dedede;
  padding: 15px 0px;
  box-shadow: 0 2px 10px 0 rgba(6, 6, 6, 0.3);
  margin-bottom: 20px;
}

#site-logo {
  font-size: 26px;
  font-weight: lighter;
  transition: color ease-in-out .15s, fill ease-in-out .15s;
}

#site-logo:hover {
  color: #fff;
  fill: #fff;
}

#site-icon {
  height: 30px;
  margin-bottom: -4px;
  margin-right: -3px;
}

#header-user-name {
  display: inline-block;
  height: 34px;
  line-height: 34px;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

#content-header {
  margin-bottom: 10px;
  font-size: 24px;
}

.tile {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px 0 rgba(12, 12, 13, 0.1);
  transition: box-shadow ease-in-out .25s;
  border-radius: 5px;
  background-color: white;
}

.tile:hover {
  box-shadow: 0 3px 8px 0 rgba(6, 6, 6, 0.2);
}

.tile-image {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
  padding-top: 60px;
}

.tile-default-image {
  width: 50%;
  opacity: 0.1;
}

.tile-info {
  padding: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tile-name {
  margin-bottom: 4px;
}

.tile-subheader {
  text-transform: uppercase;
  font-weight: normal;
  color: #888;
  letter-spacing: 0.5px;
  font-size: 12px;
  margin-top: 0px;
}

.settings-gear {
  opacity: 0.5;
  transition: opacity ease-in-out .25s;
}

.settings-gear:hover {
  opacity: 1.0;
  
}

.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(12, 12, 13, 0.1);
  margin-bottom: 20px;
  transition: box-shadow ease-in-out .25s;
}

.card:hover {
  box-shadow: 0 3px 8px 0 rgba(6, 6, 6, 0.2);
}

.top-left-rounded {
  border-top-left-radius: 5px;
}

.card-title {
  background-color: #828b93;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
  margin: 0px;
}

.status-color-Created {
  color: white;
  background-color: #00c5ff;
}

.status-color-Pending {
  color: white;
  background-color: #ffa21e;
}

.status-color-Accepted {
  color: white;
  background-color: #ffa21e;
}

.status-color-Launched {
  color: white;
  background-color: #34c834;
}

.status-color-Complete {
  color: white;
  background-color: #1cb7d8;
}

.status-color-Rejected {
  color: white;
  background-color: #e9433e;
}

.btn-large {
  display: block;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0px;
  font-size: 30px;
  line-height: 1.05;
  border-radius: 20px;
  margin-top: -5px;
}
