friendly_name = "Pocket metrics"
description = "Metrics that describe Pocket usage"

[metrics.pocket_story_impressions]
friendly_name = "Pocket Impressions"
description = "Number of times Pocket recommended stories are shown on the home screen."
select_expression = """
      COALESCE(COUNTIF(
          event_name = 'home_recs_shown'
      ),0)
"""
data_source = "pocket_events"
statistics = { bootstrap_mean = {}, deciles = {} }


[metrics.pocket_story_clicks]
friendly_name = "Pocket Story Clicks"
description = "Number of times user tapped a Pocket recommended story to be opened."
select_expression = """
      COALESCE(COUNTIF(
          event_name = 'home_recs_story_clicked'
      ),0)
"""
data_source = "pocket_events"
statistics = { bootstrap_mean = {}, deciles = {} }


[data_sources.pocket_events]
from_expression = """(
    SELECT
        p.client_id,
        p.event_category,
        p.event_name,
        p.experiments,
        p.event_extra,
        DATE(p.submission_timestamp) AS submission_date
    FROM
        `moz-fx-data-shared-prod.{dataset}.events_stream` p
    WHERE p.event_category = 'pocket'
)"""
client_id_column = "client_id"
experiments_column_type = "events_stream"
default_dataset = "fenix"
friendly_name = "Pocket Events Stream"
description = "Fenix Events filtered to 'pocket' category."
