<p>Hello,</p>

<p>
  This is an automatic email from the Nimbus Experimentation Platform to remind you to turn off the enrollment for your experiment,
  <a target="_blank" rel="noreferrer noopener" href="{{ experiment.experiment_url }}">{{ experiment.name }}</a>,
  which has a configured enrollment end date of {{ experiment.proposed_enrollment_end_date }}.
</p>

<p>
  You, or someone with experiment review credentials, should turn off enrollment
  <a target="_blank" rel="noreferrer noopener" href="{{ experiment.experiment_url }}">on this page</a>.
</p>

<p>Thank you!</p>
<p>Nimbus Engineering</p>
