version: 1.0.0
about:
  description: Nimbus Feature Manifest for Experimenter Web testing
channels:
- production
features:
  example-feature:
    description: An example feature.
    variables:
      emoji:
        description: An emoji to show for this treatment.
        type: Option<String>
        default: ❤️
      enabled:
        description: If the feature is enabled.
        type: Boolean
        default: false
