{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">

		<!-- Optional theme -->
		<link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap-theme.min.css" %}">
		
		<link rel="stylesheet" href="{% static "css/experimenter.css" %}">

  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a href="{% url "projects-list" %}">
              <h2 id="experimenter_logo">
                <svg id="header_icon_svg" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="GLYPH"><path d="M16,0L1.565,8v16L16,32l14.435-8V8L16,0z M24.237,20.565L16,25.131l-8.237-4.565v-9.131L16,6.869l8.237,4.565V20.565z"/><polygon points="10.364,12.877 16,9.753 21.636,12.877 21.636,19.123 16,22.247 10.364,19.123  "/></g>
                </svg>
                Mozilla Experimenter
              </h2>
            </a>
          </div>
          <div class="col-md-6 text-right">
            <div id="header_right">
              {{ request.user }}
              <a target="_blank" href="https://github.com/mozilla/experimenter/issues/new">
                <button class="btn btn-success">Feedback</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content_body" class="container">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <hr/>
          © Mozilla Corporation 2017
        </div>
      </div>
    </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "lib/jquery/jquery-3.2.1.min.js" %}"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
  </body>
</html>
