**/.cache
**/.pycache
**/__pycache__
**/node_modules
**/yarn-error.log
**/.mypy
**/.pytest_cache
**/.vscode
docs
experimenter/legacy-ui/assets
experimenter/legacy-ui/core/.cache/
experimenter/nimbus-ui/build
node_modules
