.mypy
.pytest_cache
.vscode
**/__pycache__
**/.cache
**/.pycache
**/node_modules
docs
experimenter/legacy-ui/assets
experimenter/nimbus-ui/build
node_modules
tests
experimenter/legacy-ui/core/.cache/
experimenter/nimbus-ui/yarn-error.log
