Django==2.1.5
black==18.5b0
celery==4.2.1
coverage==4.3.4
django-cors-headers==2.1.0
django-filter==2.0.0
django-formset-js-improved==0.5.0.2
django-widget-tweaks==1.4.3
djangorestframework==3.8.2
dockerflow==2018.4.0
factory-boy==2.8.1
flake8==3.2.1
gunicorn==19.7.1
ipdb==0.10.1
mock==2.0.0
psycopg2==2.6.2
pytest==3.10.1
pytest-django==3.4.2
pytest-testmon==0.9.13
pytest-watch==4.2.0
python-decouple==3.0
raven==6.9.0
redis==2.10.6
requests==2.20.0
whitenoise==3.3.0
