Django==1.11
coverage==4.3.4
django-cors-headers==2.1.0
django-filter==1.0.4
djangorestframework==3.6.2
dockerflow==2017.4.0
factory-boy==2.8.1
flake8==3.2.1
gunicorn==19.7.1
ipdb==0.10.1
mock==2.0.0
psycopg2==2.6.2
python-decouple==3.0
raven==6.0.0
whitenoise==3.3.0
stmoab==0.0.6
