{% load static %}

<nav class="navbar">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button class="btn d-xl-none"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasSidebar"
              aria-controls="offcanvasSidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand d-flex align-items-center fs-3"
         href="{% url 'nimbus-list' %}">
        <img src="{% static 'assets/logo.svg' %}"
             alt="Logo"
             width="30"
             class="d-inline-block align-text-top me-2">
        Nimbus Experiments
      </a>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="https://experimenter.info/"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-book"></i>
          Docs
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url "nimbus-experiments-csv" %}"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-file-arrow-down"></i>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a href="https://mozilla-hub.atlassian.net/secure/CreateIssueDetails!init.jspa?pid=10203&issuetype=10097"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-comment-dots"></i>
          Feedback
        </a>
      </li>
      <li class="nav-item">
        <a href="https://mozilla.slack.com/?redir=%2Farchives%2FCF94YGE03"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-circle-question"></i>
          Help
        </a>
      </li>
      <li class="nav-item">
        <a id="legacy_page_link"
           href="/legacy/"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-ghost"></i>
          Legacy
        </a>
      </li>
      <li class="d-flex align-items-center">
        <i class="fa-regular fa-lightbulb"></i>
        <div class="form-check form-switch ms-2 mt-1">
          <input id="theme-selector"
                 class="form-check-input"
                 type="checkbox"
                 role="switch">
        </div>
      </li>
    </ul>
  </div>
</nav>
