<li class="nav-item">
  <form id="tab-form"
        hx-get="{% url "nimbus-new-table" %}"
        hx-trigger="submit"
        hx-target="#experiment-list"
        hx-push-url="true">
    <input type="hidden" name="status" value="{{ status }}">
    {% for field in filter.form %}
      {% if field.name != "status" %}
        {% if field.value %}{{ field.as_hidden }}{% endif %}
      {% endif %}
    {% endfor %}
    <button type="submit"
            class="nav-link pb-3 {% if active_status == status %}active{% endif %}">
      <i class="{{ icon }}"></i>
      {{ status }} ({{ count }})
    </button>
  </form>
</li>
