{% extends "base.html" %}

{% load static %}

{% block content %}
  <div id="content-header" class="row">
    <div class="col-md-6">
      {{ object.name }}
    </div>
    <div class="col-md-6 text-right light-text">
      {{ object.experiments.count }} Experiment{{ object.experiments.count|pluralize }}
    </div>
  </div>
  <div id="card-list" class="row">
    {% for experiment in object.experiments.most_recently_changed %}
      <div class="card col-md-12">
        <div class="no-padding col-md-2">
          <div class="card-status card-status-{{ experiment.status }}">
            <h4>{{ experiment.status }}</h4>
          </div>
          <div class="card-image">
            <img src="{% static "imgs/experiment.svg" %}" />
          </div>
        </div>
        <div class="no-padding col-md-7">
          <h4 class="card-title">{{ experiment.name }}</h4>
          <div class="card-content">
            <p>
              <strong>
                {{ experiment.changes.latest }}
              </strong>
            </p>
            <p class="card-content-body">{{ experiment.objectives }}</p>
          </div>
        </div>
        <div class="no-padding col-md-3">
          <h4 class="card-title">
            {{ experiment.population_percent|stringformat:"17g" }}% of
            Firefox 
            {{ experiment.firefox_version }}
            {{ experiment.firefox_channel }} 
          </h4>
          <div class="card-content">
            <p>
              <strong>
                {{ experiment.control.ratio }} 
                Control :
                {{ experiment.variant.ratio }}
                Variant
              </strong>
            </p>
            <p class="card-content-body">{{ experiment.client_matching }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
