{% extends "base.html" %}

{% load static %}

{% block content %}
  <div id="content_header" class="row">
    <div class="project-name col-md-6">
      {{ object.name }}
    </div>
    <div class="col-md-6 text-right">
      {{ object.experiments.count }} Experiment{{ object.experiments.count|pluralize }}
    </div>
  </div>
  <div id="experiments_list" class="row">
    {% for experiment in object.experiments.most_recently_changed %}
      <div class="experiment col-md-12">
        <div class="experiment-preview col-md-2">
          <div class="experiment-status experiment-status-{{ experiment.status }}">
            <h4>{{ experiment.status }}</h4>
          </div>
          <div class="experiment-image">
            <img src="{% static "imgs/experiment.svg" %}" />
          </div>
        </div>
        <div class="experiment-overview col-md-7">
          <h4>{{ experiment.name }}</h4>
          <div class="experiment-content">
            <p>
              <strong>
                {{ experiment.changes.latest }}
              </strong>
            </p>
            <p class="experiment-objectives">{{ experiment.objectives }}</p>
          </div>
        </div>
        <div class="experiment-population col-md-3">
          <h4>
            {{ experiment.population_percent|stringformat:"17g" }}% of
            Firefox 
            {{ experiment.firefox_version }}
            {{ experiment.firefox_channel }} 
          </h4>
          <div class="experiment-content">
            <p>
              <strong>
                {{ experiment.control.ratio }} 
                Control :
                {{ experiment.variant.ratio }}
                Variant
              </strong>
            </p>
            <p>{{ experiment.client_matching }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
