{% extends "base.html" %}

{% load static %}

{% block content %}
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      {% if object %}
        <h3>Edit {{ object.name }}</h3> xxx
      {% else %}
        <h3>New Project</h3>
      {% endif %}
    </div>

    <div class="col-md-6 col-md-offset-3 card">
      <form
        class="form-horizontal card-content"
        method="POST"
        enctype='multipart/form-data'
      >
        {% csrf_token %}

        <div class="form-group {% if form.errors.name %}has-error{% endif %}">

          <label class="col-md-2 control-label" for="{{ form.name.id_for_label }}">Name</label>

          <div class="col-md-10">
            {{ form.name }}
          </div>

          <div class="col-md-12 text-right">
            {% if form.errors.name %}
              {% for error in form.errors.name %}
                <label for="project-name" class="control-label">{{ error }}</label>
              {% endfor %}
            {% endif %}
          </div>

        </div>

        <div class="form-group {% if form.errors.image %}has-error{% endif %}">

          <label class="col-md-2 control-label" for="{{ form.image.id_for_label }}">Image</label>

          <div class="col-md-10">
            {{ form.image }}
          </div>

          <div class="col-md-12 text-right">
            {% if form.errors.image %}
              {% for error in form.errors.image %}
                <label for="project-image" class="control-label">{{ error }}</label>
              {% endfor %}
            {% endif %}
          </div>

        </div>

        <div class="form-group">
          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-default">Save Project</button>
          </div>
        </div>

      </form>
    </div>
  </div>
{% endblock %}
