{% extends "base.html" %}

{% load static %}

{% block content %}
  <div id="content-header" class="row">
    <div class="col-md-12 text-right light-text">
      <span>{{ object_list.count }} Project{{ object_list.count|pluralize }}</span>
      <a class="btn btn-info btn-circle" href="{% url "projects-create" %}">+</a>
    </div>
  </div>
  <div class="row">
    {% for project in object_list %}
      <div class="col-md-4">
        <a class="noanchorstyle" href="{% url "projects-detail" slug=project.slug %}">
          <div class="tile">
            {% if project.image %} 
              <div class="tile-image" style="background-image: url({{ project.image.url }})">
              </div>
            {% else %}
              <div class="tile-image">
                <img class="tile-default-image" src="{% static "imgs/project.svg" %}" />
              </div>
            {% endif %}
            <div class="tile-info">
              <h4 class="tile-name">{{ project.name }}</h4>
              <h5 class="tile-subheader">{{ project.experiments.count }} experiment{{ project.experiments.count|pluralize }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endblock %}
