@import "~bootstrap/scss/bootstrap";

.header-experiment-status::before {
  @extend .w-100, .d-block, .position-absolute;
  content: "";
  height: 1px;
  background: #dee2e6;
  top: 50%;
  transform: translateY(-50%);
}

.header-experiment-duration {
  position: absolute;
  bottom: 0;
  left: 50%;
  // Small hack to combine absolute positioning with centering
  transform: translate(-50%, 100%);
}
