{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'imgs/favicon.ico' %}" />
    <title>
      {% block title %}
      {% endblock title %}

      | Experimenter
    </title>
    <script src="{% static 'nimbus_ui/app.bundle.js' %}"></script>
    {% block extra_head %}
    {% endblock extra_head %}

  </head>
  <body {# djlint:off #}
        id="{% block page_id %}{% endblock %}"
  {# djlint:on #}
  class="bg-body-tertiary">
  <div class="container-fluid bg-body border-bottom border-1 py-1">
    {% include "common/header.html" %}

  </div>
  <div class="container-fluid">
    {% block content %}
    {% endblock content %}

    {% include "common/footer.html" %}

  </div>
  {% block extrascripts %}
  {% endblock extrascripts %}

</body>
</html>
