# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
---
fenix:
  slug: "fenix"
  repo:
    type: "github"
    name: "mozilla-mobile/firefox-android"
  fml_path: "fenix/app/nimbus.fml.yaml"
  release_discovery:
    version_file:
      type: "plaintext"
      path: "version.txt"
    strategies:
      - type: "tagged"
        branch_re: 'releases_v(?P<major>\d+)'
        tag_re: 'fenix-v(?P<major>\d+)\.(?P<minor>\d+)(?:\.(?P<patch>\d+))?'
      - type: "branched"

firefox_ios:
  slug: "ios"
  repo:
    type: "github"
    name: "mozilla-mobile/firefox-ios"
  fml_path:
    - "firefox-ios/nimbus.fml.yaml"
    - "nimbus.fml.yaml"
  release_discovery:
    version_file:
      type: "plist"
      path:
        - "firefox-ios/Client/Info.plist"
        - "Client/Info.plist"
      key: "CFBundleShortVersionString"
    strategies:
      - type: "tagged"
        branch_re: 'release/v(?P<major>\d+)(?:\.(?P<minor>\d+))?'
        tag_re: 'v(?P<major>\d+)\.(?P<minor>\d+)'
      - type: "branched"

focus_android:
  slug: "focus-android"
  repo:
    type: "github"
    name: "mozilla-mobile/firefox-android"
  fml_path: "focus-android/app/nimbus.fml.yaml"
  release_discovery:
    version_file:
      type: "plaintext"
      path: "version.txt"
    strategies:
      - type: "tagged"
        branch_re: 'releases_v(?P<major>\d+)'
        tag_re: 'focus-v(?P<major>\d+)\.(?P<minor>\d+)(?:\.(?P<patch>\d+))?'
      - type: "branched"

focus_ios:
  slug: "focus-ios"
  repo:
    type: "github"
    name: "mozilla-mobile/focus-ios"
  fml_path:
    - "focus-ios/nimbus.fml.yaml"
    - "nimbus.fml.yaml"
  release_discovery:
    version_file:
      type: "plist"
      path:
        - "focus-ios/Blockzilla/Info.plist"
        - "Blockzilla/Info.plist"
      key: "CFBundleShortVersionString"
    strategies:
      # We don't use a branched strategy for focus_ios because it is on v9000.
      - type: "tagged"
        branch_re: 'releases_v(?P<major>\d+)(?:\.(?P<minor>\d+))?'
        tag_re: 'v(?P<major>\d+)\.(?P<minor>\d+)(?:\.(?P<patch>\d+))?'
        ignored_branches:
          - "releases_v999" # nimbus.fml.yaml missing. Breaks "last 5 releases" logic.
        ignored_tags:
          - "v999.0.0" # nimbus.fml.yaml missing.
        ignored_versions:
          - "9000.0.0"

monitor_cirrus:
  slug: "monitor-web"
  repo:
    type: "github"
    name: "mozilla/blurts-server"
  fml_path: "config/nimbus.yaml"

firefox_desktop:
  slug: "firefox-desktop"
  repo:
    type: "hgmo"
    name: "mozilla-unified"
    default_branch: "central"
  experimenter_yaml_path: "toolkit/components/nimbus/FeatureManifest.yaml"
  release_discovery:
    version_file:
      type: "plaintext"
      path: "browser/config/version.txt"
    strategies:
      - type: "branched"
        branches:
          # The order here is important!
          #
          # When central is merging to beta or beta is merging to release, then
          # both of those will have the same version number for a period of
          # time.
          #
          # In this order, if two consecutive branches have the same version,
          # then the latter will take precedence. e.g., if both beta and release
          # report the same version, we will use the feature manifest from release.
          - "central"
          - "beta"
          - "release"
          - "esr115"
