@import url('https://fonts.googleapis.com/css?family=Varela+Round');

#header {
	background: #2c3e50;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 40px;
	padding: 24px 33px;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
	color: #fff;
	font-family: 'Varela Round', sans-serif;
}