{% extends "admin/base_site.html" %}
{% load staticfiles %}

{% block title %}Mozilla Experimenter{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <link rel="icon" href="{% static "imgs/favicon.ico" %}" type="image/x-icon" />
	<link href="{% static "css/adminextra.css" %}" rel="stylesheet" type="text/css" media="screen,projection" />
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><img class="header_logo_icon" src="{% static "imgs/favicon_32_white.png" %}" />Mozilla Experimenter</a></h1>
{% endblock %}
