{% extends "experimenter_base.html" %}

{% block title %}
  History
{% endblock %}

{% block content %}
  <div class="p-6">
    <h1 class="text-3xl font-bold">Changes Overview</h1>
    <p>Experiment Slug: {{ experiment.slug }}</p>
    <div class="py-2 space-y-2">
      {% for changelog in experiment.get_changelogs %}
      <div class="bg-gray-200 rounded-md p-2">
          <h2 class="font-semibold">{{ changelog.changed_on }}</h2>
          <p><i class="fa-regular fa-pen-to-square"></i> : {{ changelog.message }}</p>  
          <p><i class="fa-regular fa-user"></i> : {{ changelog.changed_by }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
