{% load static %}

{% include 'glean/opt_out_alert.html' %}

<nav class="navbar">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <button class="btn d-xl-none"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasSidebar"
              aria-controls="offcanvasSidebar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand d-flex align-items-center fs-3"
         href="{% url 'nimbus-ui-home' %}">
        <img src="{% static 'assets/logo.svg' %}"
             alt="Logo"
             width="30"
             class="d-inline-block align-text-top me-2">
        Nimbus Experiments
      </a>
      <div id="navigation" class="ms-4">
        <ul class="nav nav-underline">
          <li class="nav-item">
            <a href="{% url 'nimbus-ui-home' %}" class="nav-link fw-semibold">
              <i class="fa-solid fa-home me-1"></i>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'nimbus-list' %}" class="nav-link fw-semibold">
              <i class="fa-solid fa-list me-1"></i>
              All Deliveries
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'nimbus-ui-features' %}" class="nav-link fw-semibold">
              <i class="fa-solid fa-magnifying-glass me-1"></i>
              Features View
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="https://experimenter.info/"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-book"></i>
          Docs
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url "nimbus-experiments-csv" %}"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-file-arrow-down"></i>
          Reports
        </a>
      </li>
      <li class="nav-item">
        <a href="https://mozilla-hub.atlassian.net/secure/CreateIssueDetails!init.jspa?pid=10203&issuetype=10097"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-comment-dots"></i>
          Feedback
        </a>
      </li>
      <li class="nav-item">
        <a href="https://mozilla.slack.com/?redir=%2Farchives%2FCF94YGE03"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-circle-question"></i>
          Help
        </a>
      </li>
      <li class="nav-item">
        <a id="legacy_page_link"
           href="/legacy/"
           class="nav-link"
           target="_blank"
           rel="noreferrer">
          <i class="fa-solid fa-ghost"></i>
          Legacy
        </a>
      </li>
      <li class="nav-item me-3">
        <a id="create-new-button"
           class="btn btn-primary"
           data-bs-toggle="modal"
           data-bs-target="#createModal">
          <i class="fa-regular fa-pen-to-square"></i>
          Create Experiment
        </a>
      </li>
      <!-- Modal -->
      <div class="modal fade"
           id="createModal"
           tabindex="-1"
           aria-labelledby="createModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createModalLabel">
                <i class="fa-regular fa-pen-to-square"></i>
                Create Experiment
              </h1>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body bg-body-tertiary">
              <form id="createForm"
                    hx-post="{% url 'nimbus-ui-create' %}"
                    hx-target="#createForm">
                {% include "nimbus_experiments/create.html" with form=create_form %}

              </form>
            </div>
          </div>
        </div>
      </div>
      <li class="d-flex align-items-center">
        <i class="fa-regular fa-lightbulb"></i>
        <div class="form-check form-switch ms-2 mt-1">
          <input id="theme-selector"
                 class="form-check-input"
                 type="checkbox"
                 role="switch">
        </div>
      </li>
      <li class="d-flex align-items-center">
        {% include 'glean/opt_out_button.html' %}

      </li>
    </ul>
  </div>
</nav>
