{% load static %}

{% include 'glean/opt_out_alert.html' %}

<nav class="navbar navbar-expand-xl">
  <div class="container-fluid">
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSidebar"
            aria-controls="offcanvasSidebar"
            aria-label="Toggle sidebar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand align-items-center fs-3"
       href="{% url 'nimbus-ui-home' %}">
      <img src="{% static 'assets/logo.svg' %}"
           alt="Nimbus Experiments Logo"
           width="24"
           height="24"
           class="me-2 mb-2">
      Nimbus Experiments
    </a>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav me-auto align-items-center">
        <li class="nav-item">
          <a href="{% url 'nimbus-ui-home' %}"
             class="nav-link link-primary py-0 mt-1 fw-semibold">
            <i class="fa-solid fa-home me-1"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'nimbus-list' %}"
             class="nav-link link-primary py-0 mt-1 fw-semibold">
            <i class="fa-solid fa-list me-1"></i>
            All Deliveries
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'nimbus-ui-features' %}"
             class="nav-link link-primary py-0 mt-1 fw-semibold">
            <i class="fa-solid fa-magnifying-glass me-1"></i>
            Features
          </a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav ms-auto align-items-center">
      <li class="nav-item me-2">
        <button id="create-new-button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#createModal">
          <i class="fa-regular fa-pen-to-square me-1"></i>
          Create Experiment
        </button>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">Links</a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a href="https://experimenter.info/"
               class="dropdown-item link-primary"
               target="_blank"
               rel="noreferrer">
              <i class="fa-solid fa-book me-2"></i>
              Docs
            </a>
          </li>
          <li>
            <a href="https://github.com/mozilla-extensions/nimbus-devtools/releases/tag/release%2Fv0.3.0"
               class="dropdown-item link-primary"
               target="_blank"
               rel="noreferrer">
              <i class="fa-solid fa-wrench me-2"></i>
              Nimbus Devtools
            </a>
          </li>
          <li>
            <a href="{% url "nimbus-experiments-csv" %}"
               class="dropdown-item link-primary"
               target="_blank"
               rel="noreferrer">
              <i class="fa-solid fa-file-arrow-down me-2"></i>
              Reports
            </a>
          </li>
          <li>
            <a id="legacy_page_link"
               href="/legacy/"
               class="dropdown-item link-primary"
               target="_blank"
               rel="noreferrer">
              <i class="fa-solid fa-ghost me-2"></i>
              Legacy
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a href="https://mozilla-hub.atlassian.net/secure/CreateIssueDetails!init.jspa?pid=10203&issuetype=10097"
               class="dropdown-item link-primary"
               target="_blank"
               rel="noreferrer">
              <i class="fa-solid fa-comment-dots me-2"></i>
              Feedback
            </a>
          </li>
          <li>
            <a href="https://mozilla.slack.com/?redir=%2Farchives%2FCF94YGE03"
               class="dropdown-item link-primary"
               target="_blank"
               rel="noreferrer">
              <i class="fa-solid fa-circle-question me-2"></i>
              Help
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">
          <i class="fa-regular fa-circle-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a href="{% url 'nimbus-ui-home' %}?my_deliveries_status=AllOwned#my-deliveries"
               class="dropdown-item link-primary">
              <i class="fa-solid fa-user me-2"></i>
              My Deliveries
            </a>
          </li>
          <li>
            <a href="{% url 'nimbus-ui-home' %}?my_deliveries_status=AllSubscribed#my-deliveries"
               class="dropdown-item link-primary">
              <i class="fa-solid fa-bell me-2"></i>
              My Subscribed Deliveries
            </a>
          </li>
          <li>
            <a href="{% url 'nimbus-ui-home' %}?my_deliveries_status=FeatureSubscribed#my-deliveries"
               class="dropdown-item link-primary">
              <i class="fa-solid fa-boxes-stacked me-2"></i>
              My Subscribed Features
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-item">
            <div class="form-check form-switch">
              <label class="form-check-label" for="theme-selector">Light Mode</label>
              <input id="theme-selector"
                     class="form-check-input"
                     type="checkbox"
                     role="switch">
            </div>
          </li>
          <li>
            {% include 'glean/opt_out_button.html' %}

          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade"
     id="createModal"
     tabindex="-1"
     aria-labelledby="createModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createModalLabel">
          <i class="fa-regular fa-pen-to-square me-1"></i>
          Create Experiment
        </h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body bg-body-tertiary">
        <form id="createForm"
              hx-post="{% url 'nimbus-ui-create' %}"
              hx-target="#createForm">
          {% include "nimbus_experiments/create.html" with form=create_form %}

        </form>
      </div>
    </div>
  </div>
</div>
