<li class="nav-item">
  <form id="tab-form"
        hx-get="{% url "nimbus-ui-table" %}"
        hx-trigger="submit"
        hx-target="#experiment-list"
        hx-push-url="true">
    <input type="hidden" name="status" value="{{ status }}">
    {% for field in filter.form %}
      {% if field.name != "status" %}
        {% if field.value %}{{ field.as_hidden }}{% endif %}
      {% endif %}
    {% endfor %}
    <button type="submit"
            class="nav-link pb-3 {% if active_status == status %}active{% endif %}">
      <div class="d-inline-flex align-items-center">
        <i class="{{ icon }} me-2"></i>
        <span>{{ status }}</span>
      </div>
      <span>({{ count }})</span>
    </button>
  </form>
</li>
