{% if request.user.is_authenticated %}
  <div id="glean-opt-out" class="dropdown-item">
    <form method="post"
          action="{% url 'glean-opt-out' %}"
          hx-post="{% url 'glean-opt-out' %}"
          hx-target="#glean-opt-out"
          hx-swap="outerHTML">
      {% csrf_token %}
      <input type="hidden"
             name="opt_out"
             value="{% if not request.user.glean_prefs.opt_out %}true{% endif %}" />
      <div class="form-check form-switch">
        <label class="form-check-label"
               for="glean-toggle"
               title="Nimbus tracks user interactions with Glean. You {% if request.user.glean_prefs.opt_out %}have opted out of this data collection. You can opt back in{% else %}can opt-out of this data collection{% endif %} by clicking here.">
          Glean Opt-In
        </label>
        <input id="glean-toggle"
               class="form-check-input"
               type="checkbox"
               role="switch"
               {% if not request.user.glean_prefs.opt_out %}checked{% endif %}
               onchange="this.form.requestSubmit()">
      </div>
    </form>
  </div>
{% endif %}
