// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Looking to customize Bootstrap styles? Place SCSS variables
// modifications *above* the Bootstrap import below. Learn more:
// https://getbootstrap.com/docs/4.4/getting-started/theming/

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1441px,
);

$sizes: (
  3: 0.75rem,
  100vh: 100vh,
);

@import "~bootstrap/scss/bootstrap";

// This gives us responsive sizing such as `h-md-100`.
// See https://github.com/twbs/bootstrap/issues/21943
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

.font-weight-semibold {
  font-weight: 600;
}
