// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

// Looking to customize Bootstrap styles? Place SCSS variables
// modifications *above* the Bootstrap import below. Learn more:
// https://getbootstrap.com/docs/4.4/getting-started/theming/

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1441px,
);

$sizes: (
  3: 0.75rem,
  100vh: 100vh,
);

@import "~bootstrap/scss/bootstrap";

// This gives us responsive sizing such as `h-md-100`.
// See https://github.com/twbs/bootstrap/issues/21943
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

// Adds a new style of form feedback, warning, which is yellow
// This adds the is-warning, warning-feedback form classes
$form-feedback-warning-color: #e65722 !default;
$form-feedback-icon-warning-color: $form-feedback-warning-color !default;
$form-feedback-icon-warning: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='#{$form-feedback-icon-warning-color}' viewBox='0 0 12 12'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$form-feedback-icon-warning-color}' stroke='none'/></svg>") !default;
$form-validation-states: map-merge(
  (
    "warning": (
      "color": $form-feedback-warning-color,
      "icon": $form-feedback-icon-warning,
    ),
  ),
  $form-validation-states
);
@each $state, $data in $form-validation-states {
  @include form-validation-state(
    $state,
    map-get($data, color),
    map-get($data, icon)
  );
}
// There's already a border-warning class, so add a feedback-specific one
.border-feedback-warning {
  border: 1px solid $form-feedback-warning-color !important;
}

.font-weight-semibold {
  font-weight: 600;
}

.w-33 {
  width: 33.33%;
}

.positive-significance {
  @extend .text-success;
  @extend .font-weight-bold;
}

.negative-significance {
  @extend .text-danger;
  @extend .font-weight-bold;
}

.positive {
  @extend .bg-success;
}

.negative {
  @extend .bg-danger;
}

.neutral {
  @extend .bg-secondary;
}

.table-visualization-center {
  @extend .table;
  @extend .text-center;
  @extend .border-bottom;
}

.border-3 {
  border-width: 3px !important;
}

.inherit-color {
  color: inherit;
}

.table-fixed {
  table-layout: fixed;
}

.sidebar-icon {
  @extend .mr-3;
  min-width: 18px;
  width: 18px;
  height: 18px;
}

.__react_component_tooltip > p:last-child {
  margin-bottom: 0;
}
