<div id="nimbus-devtools-banner"
     class="alert alert-success bg-transparent text-success d-none">
  <div class="nimbus-devtools-needs-install d-none">
    <p>nimbus-devtools is either uninstalled or out-of-date.</p>
    <p>
      You can download the latest version of nimbus-devtools:
      <a href="https://github.com/mozilla-extensions/nimbus-devtools/releases/latest"
         target="_blank"
         class="new-version-link">v<span class="new-version-placeholder"></span></a>
    </p>
  </div>
  <div class="nimbus-devtools-needs-update d-none">
    <p>
      Your version of nimbus-devtools (v<span class="old-version-placeholder"></span>) is out of date.
    </p>
    <p>
      A new version is available:
      <a href="https://github.com/mozilla-extensions/nimbus-devtools/releases/latest"
         target="_blank"
         class="new-version-link">v<span class="new-version-placeholder"></span></a>
    </p>
  </div>
  <button class="btn btn-primary me-2 remind-later-btn">Remind me tomorrow</button>
  <button class="btn btn-danger me-2 remind-next-version-btn">Don't remind me about this version</button>
  <button class="btn btn-danger me-2 dismiss-btn">Dismiss</button>
</div>
