{% extends "admin/base_site.html" %}
{% load static %}

{% block title %}Mozilla Experimenter{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="icon" href="{% static "imgs/favicon.ico" %}" type="image/x-icon" />
{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    Mozilla Experimenter
  </a>
</h1>
{% endblock %}

{% block usertools %}
{{ block.super}}
<a style="float:right" href="https://github.com/mozilla/experimenter/issues/new">Leave feedback!</a>
{% endblock %}

{% block userlinks %}
{% endblock %}

{% block welcome-msg %}
<strong>{% firstof user.get_short_name user.get_username %}</strong>
{% endblock %}